@CHARSET "UTF-8";

body {
	font: 100%/1.4 Geneva, Georgia, Trebuchet sans-serif;
	background-color: #CCCC99;
	margin: 0;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img {
	border: none;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	position:static;
	width: 1000px;
	height:100%;
	margin: 0 auto;
	z-index:1;
}

.footer {
	background-color: orange;
	margin: 0px;
	height: 150px;
	width:auto;
	z-index:2;
}

.body {
	top:190px;
	width:auto;
	top: 250px;
	height:1000px;
	bottom:15px;
	z-index:2;
	background-color: #FFFF99;
	font: Georgia;

}

.header {
	
	padding: 0px;
	height:70px;
	width:100%;
	background: #FFCC33;
	z-index:3;	
}

.header h1 {
	padding: 20px ;
}

#text {
	padding: 0px 0px;
	color: orange;
	z-index:3;
	font-size: 18px;
}

#login {
	font-size: 14px;
	padding-left: 150%;
	color: #ffffff;
}

.top {
	;
	background-color: rgba(66,65,60,0.7);
	z-index: 10;
	width: 100%;
}

.top-nav {
	margin: 0 200px;
}