body {
	font: 100%/1.4 Geneva, Georgia, Trebuchet sans-serif;
	background-color: #CCCC99;
	background-image:url("img/back.png");
	margin: 0;
}

form { 
	display: inline;
	
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img {
	border: none;
}

a:link, a:visited{
	text-decoration: none;
	color: orange ;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: orange ;
}

.container {
	position:static;
	width: 1000px;
	height:auto;
	margin: 0 auto;
	z-index:1;
}

footer {
	background-color: #FFFF99;
	margin: 0px;
	height: 150px;
	width: 100%;
	z-index:2;
	position: static;
}

.body {
	top:190px;
	width:auto;
	top: 250px;
	height: auto;
	min-height: 500px;
	bottom:15px;
	z-index:2;
	background-color: #FFFF99;
	font: Georgia;
	padding-top: 50px;

}

.header {	
	padding: 0px;
	height:102px;
	width:100%;
	background: #FFCC33;
	z-index:3;	
}

.header h1 {
	padding: 50px ;
}

#login_table {
	padding: auto;
}

.top {
	background-color: rgba(66,65,60,0.7);
	z-index: 10;
	width: 100%;
	position:fixed;
}

.top-nav {
	width:100%;
	text-align:center;

}

.sidebar {
	height:auto;
	min-height: 500px;
	width: 200px;
	/*background-color:#dee6e7;*/
	border-right: #dee6e7 dotted;
	float:left;
}

.main {
	height:auto;
	min-height: 500px;
	padding: 50px;
	float:left;
}

.sidebar ul {
    list-style-type: none;
    padding:50px;
}

.sidebar a:link, a:visited {
	text-decoration: none;
	color: rgb(48,131,133) ;
}

.sidebar a:hover, a:active, a:focus {
	text-decoration: underline;
	color: rgb(48,131,133) ;
}

.addGroup {
	float:left;
}

.smallHeading {
	font-family: 'Bad Script', cursive;
	font-size: 25px;
	padding-top: 10px;
}

section {
    padding:10px;
    /*display:inline-block;*/
    margin:0 auto;
    /*float:center;*/
    width: 1000px;
}
.logo {
	padding-top:5px;
	color: orange;
	z-index:3;
	font-size: 18px;
	float:left;
	width:50%;
}

.login {
	font-size: 14px;
	float:right;
	width:50%;
	color: orange;	
}

.login  a:link, a:visited{
	text-decoration: none;
	color: orange ;
}

.login  a:hover, a:active, a:focus {
	text-decoration: underline;
	color: orange ;
}

table.messages {
	border: black solid thin;
	width: 500px;
	border-collapse: collapse;
}

table.messages tr{
	border: black solid thin;
	width: 500px;
}

.mes_form {
	float: right;
}